odoo: "*"
enterprise: "*"
# modulos OCA
account-invoice-reporting: "*"
account-invoicing: "*"
account-payment: "*"
account-reconcile: "*"
bank-payment: "*"
brand: "*"
product-attribute: "*"
purchase-reporting: "*"
purchase-workflow: "*"
queue: "*"
reporting-engine: "*"
sale-workflow: "*"
server-auth: "*"
server-backend: "*"
server-brand: "*"
server-env: "*"
server-tools: "*"
server-ux: "*"
social: "*"
stock-logistics-availability: "*"
stock-logistics-barcode: "*"
stock-logistics-orderpoint: "*"
stock-logistics-reporting: "*"
stock-logistics-request: "*"
stock-logistics-tracking: "*"
stock-logistics-transport: "*"
stock-logistics-warehouse: "*"
stock-logistics-workflow: "*"
web: "*"
l10n-ecuador: "*"
# modulos propios
app_store: "*"
flow_scm: "*"
merp: "*"
{% if odoo_version == 13.0 -%}
localizacion_ec: "*"
hr_addons: "*"
custom_tools: "*"
themes: "*"
{%- elif odoo_version  >= 17.0 %}
odoo_generic_addons: "*"
theme_prime: "*"
{% endif -%}
