# See https://github.com/Tecnativa/doodba#optodoocustomsrcreposyaml
./odoo:
  defaults:
    # Shallow repositories ($DEPTH_DEFAULT=1) are faster & thinner
    # You may need a bigger depth when merging PRs (use $DEPTH_MERGE
    # for a sane value of 100 commits)
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/Spearhead-Odoo/odoo.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    # Example of a merge of the PR with the number <PR>
    # - oca refs/pull/<PR>/head
./enterprise:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/enterprise.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
# repositorios propios
{% if odoo_version == 13.0 -%}
./app_store:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/app_store.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - origin 13.0-i18n
./flow_scm:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/flow_scm.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./localizacion_ec:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/localizacion_ec.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./hr_addons:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/hr_addons.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./custom_tools:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/custom_tools.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./themes:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/themes.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./merp:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/merp.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - origin 13.0-i18n
./bank-payment:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://github.com/Spearhead-Odoo/bank-payment.git
    oca: https://github.com/OCA/bank-payment.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - oca refs/pull/1013/head
./purchase-workflow:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://github.com/Spearhead-Odoo/purchase-workflow.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - origin 13.0-purchase-request-date
    - origin 13.0-i18n
./sale-workflow:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://github.com/Spearhead-Odoo/sale-workflow.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - origin 13.0-i18n
    - origin 13.0-lot-selection
./server-ux:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://github.com/Spearhead-Odoo/server-ux.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - origin 13.0-i18n
./stock-logistics-warehouse:
  defaults:
    depth: $DEPTH_MERGE
  remotes:
    origin: https://github.com/Spearhead-Odoo/stock-logistics-warehouse.git
    oca: https://github.com/OCA/stock-logistics-warehouse.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
    - oca refs/pull/1381/head
    - origin 13.0-i18n
{%- elif odoo_version >= 17.0 %}
./app_store:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/app_store.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./flow_scm:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/flow_scm.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./merp:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/merp.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./odoo_generic_addons:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/odoo_generic_addons.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
./theme_prime:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://$GIT_TOKEN@github.com/Spearhead-Odoo/theme_prime.git
  target: origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
{% endif -%}
